* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-size: 1.3rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #009688;
}

p {
  color: #757575;
}

#header__span {
  font-style: italic;
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-size: 3rem;
  height: 20rem;
  -webkit-box-shadow: 0px 10px 42px -7px rgba(117,117,117,1);
-moz-box-shadow: 0px 10px 42px -7px rgba(117,117,117,1);
box-shadow: 0px 10px 42px -7px rgba(117,117,117,1);
}

cart-list {
width: 100%;
height: auto;
padding: 1rem;

/* display: flex;
flex-direction: row;
justify-content: space-between; */
}


.sectionHeader {
  color: #FFECB3;
  font-style: italic;
  font-size: 3rem;
}

.grandTotal {
  font-family: 'open sans';
  color: #FFECB3;
  font-size: 2rem;
  align-self: flex-end;
}

.fa-shopping-cart {
    width: 100%;
    text-align: right;
    font-size: 2rem;
    color: #FFA000;
    margin-right: 1rem;
}

.shoppingCart, .store {
  padding: 1rem;
  margin: 0 auto;
  height: auto;
  width: 100%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 193, 7, 0.726),#009687cc), url("../images/lemons.jpg") no-repeat top; 
  background-size: cover; 
}

.store {
  background: linear-gradient(#009687cc,rgba(255, 193, 7, 0.726)), url(../images/mixedproduceVert.jpg) no-repeat top;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.store .item {
  width: 20rem;
  margin: 1rem;
  height: 20rem;
}

.item{
  background-color: rgba(255, 255, 255, 0.918);
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  transition: .3s all;
  -webkit-box-shadow: 0px 10px 42px -7px rgba(117,117,117,1);
  -moz-box-shadow: 0px 10px 42px -7px rgba(117,117,117,1);
  box-shadow: 0px 10px 42px -7px rgba(117,117,117,1)
}

.item:hover {
  transform: translateY(4px);
}


.item__line {
  padding: .2rem;
  height: 3rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'raleway';
  margin-left: 1rem;
  font-size: 2rem;
  /* background-color: rgba(255, 255, 255, 0.3); */
}

.item__line p:first-of-type{
  text-align: left;
}

.itemTotal {
  margin-top: .5rem;
  color: #FFA000;
}



.shoppingCart_quantity{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 50%;
height: 2rem;
color: white;
border-radius: .5rem;
font-family: 'Open Sans', sans-serif;
/* font-weight: 700;  */

}

.shoppingCart_quantity p {
  line-height: 0rem;
  background-color: #009688;
  color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: .2s all;
}

.shoppingCart_quantity p:nth-of-type(2) {
  border-radius: 2rem;;
  width: 7rem;
}

.shoppingCart_quantity p:not(:nth-of-type(2)):hover {
  background-color: #FFA000;
}

.red{
  background-color: red;
}

.fas {
  padding: 1rem;
  cursor: pointer;
}

.button_delete {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  color: #FFC107;
  font-size: 2.5rem;
  transition: .3s all;
}

.button_delete:hover {
  color: red;
  transform: rotate(180deg);
}

.addToCart

.addItemForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  min-height: 20rem;
  margin: 1rem auto;
}

.addItem__line{
  padding: .2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addItem__line input {
  border: none;
  border-bottom: 1px solid #BDBDBD;
  width: 100%;
}

input {
  font-size: 1.4rem;
  color: #212121;
}

input:focus {
  outline: none;
}


.addButton {
  position: absolute;
  color: #009688;
  bottom: -.5rem;
  right: -.5rem;
  font-size: 2.5rem;
  transition: .3s all;
  text-shadow: 1px 1px 3px #212121;
  }
  
.item__product {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.store__product {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.store__product .item__line {
  flex-direction: column;
  height: auto;
  align-items: flex-end;
}

.img_med {
  margin-top: 1rem;
  width: 8rem;
  height: 100%;
  min-height: 8rem;
}

.img_small {
  width: 4rem;
  height: 100%;
  min-height: 4rem;
}



.dark-primary-color    { background: #FFA000; }
.default-primary-color { background: #FFC107; }
.light-primary-color   { background: #FFECB3; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
