* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-size: 1.3rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #009688;
}

#header__span {
  font-style: italic;
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-size: 3rem;
  height: 20rem;
  -webkit-box-shadow: 0px 10px 42px -7px rgba(117,117,117,1);
-moz-box-shadow: 0px 10px 42px -7px rgba(117,117,117,1);
box-shadow: 0px 10px 42px -7px rgba(117,117,117,1);
}

cart-list {
width: 100%;
height: auto;
padding: 1rem;
}

.sectionHeader {
  color: #FFECB3;
  font-style: italic;
}

.shoppingCart {
  padding: 1rem;
  margin: 0 auto;
  height: auto;
  width: 100%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shoppingCart__item{
  background-color: white;
  padding: 1rem;
  margin: 1rem auto;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  position: relative;
}
.shoppingCart__item__line {
  padding: .2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shoppingCart__item__line input {
  border: none;
}

.shoppingCart__item__line label, .addItem__line label {
  text-align: left;
  color: #757575;
  width: 7rem;
  font-size: 1.4rem;
}

.deleteButton {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  color: #FFC107;
  font-size: 2.5rem;
  transition: .3s all;
}

.deleteButton:hover {
  transform: rotate(180deg);
}

.addItemForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  min-height: 20rem;
  margin: 1rem auto;
}

.addItem__line{
  padding: .2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addItem__line input {
  border: none;
  border-bottom: 1px solid #BDBDBD;
}

input {
  font-size: 1.4rem;
  color: #212121;
}

input:focus {
  outline: none;
}


.addButton {
  position: absolute;
  color: #009688;
  bottom: -.5rem;
  right: -.5rem;
  font-size: 2.5rem;
  transition: .3s all;
  text-shadow: 1px 1px 3px #212121;
  }
  




.dark-primary-color    { background: #FFA000; }
.default-primary-color { background: #FFC107; }
.light-primary-color   { background: #FFECB3; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
