<section class="shoppingCart">
  <h2 class="sectionHeader">My cart</h2>
  <a class="grandTotal" href="#!/store">&#x219C Back to store</a>
  <p class="grandTotal" ng-model="$ctrl.grandTotal">Grand Total: {{$ctrl.grandTotal}}</p>
    <section class="item"ng-repeat="item in $ctrl.cartItems">

     <div class="item__product">
        <img class="img_small" src="{{item.url}}">
        <div class="item__line">
          <p>{{item.product}}</p>
          <div>
            <p>{{item.price}} each</p>
            <p class="itemTotal">{{ item.item_total }} total</p>
          </div>
        </div>

      <i ng-click="$ctrl.deleteItem(item.id);" class="fas fa-times-circle button_delete"></i>

    </div>

    <div class="shoppingCart_quantity">
        <p ng-click="$ctrl.quantityMinus(item)"><i class="fas fa-minus"></i></p>
        <p>{{ item.quantity}}</p>
        <p ng-click="$ctrl.quantityPlus(item); $ctrl.changeColor($event);"><i class="fas fa-plus"></i></p>
    </div>


    </section>
  </section>